
@{
    ViewData["Title"] = "CancelJoin";
}

<h1>CancelJoin</h1>
<img src="~/images/mew.png" alt="mewCancelJoin" width="180" height="180">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<br />
<label for="uname"> วัชร พงมณี </label>
<br />
<label for="uname"> หอพัก : อินเตอร์ปาร์ค </label>
<br />
<label for="uname"> ราคาห้องพัก : 5000 - 6000 บาท </label>
<br />
<a href="https://localhost:44331/JoinRoommate/DetailCancelJoin">ยกเลิกการชักชวน</a>