
@{
    ViewData["Title"] = "DetailCancelJoin";
}

    <left>



        <h4>รายละเอียดข้อมูล</h4>
        <br />

        <img src="~/images/mew.png" alt="mewCancelJoin" width="180" height="180">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <br />

        <label for="uname"> ชื่อ - นามสกุล: วัชร พงมณี</label>
        <br />
        <label for="uname"> คณะ : นิติศาสตร์ </label>
        <br />
        <h4> รายเอียดห้องพัก</h4>
        <br />
        <label for="uname"> หอพัก : อินเตอร์ปาร์ค </label>
        <br />
        <label for="uname"> ราคาห้องพัก : 5000 - 6000 บาท</label>
        <br />
        <label for="uname"> ค่าประกันหอ : 15000 บาท </label>
        <br />
        <label for="uname"> เอกสารสัญญาห้องพัก : </label>
        <br />

        <button name="btnSignIn" type="submit"> ยกเลิการชักชวน </button>

    </left>

