
@{
    ViewData["Title"] = "Index";
}

    <left>
        <h1>กรอกรายละเอียดข้อมูล</h1>
        <h4> กรุณากรอกข้อมูลของท่านให้ถูกต้อง เพื่อให้ระบบสามารถเลือกเพื่อนร่วมห้องให้เหมาะสมมากที่สุด </h4>
        <br />

        <form action="">

            <label for="uname">เพศ : </label>&nbsp;
            <input type="radio" name="วิน" value="male"> ชาย &nbsp;&nbsp;
            <input type="radio" name="วิน" value="male"> หญิง &nbsp;&nbsp;
            <br />

            <label for="uname">สูบบุหรี่ : </label>&nbsp;
            <input type="radio" name="วิน" value="male"> สูบ &nbsp;&nbsp;
            <input type="radio" name="วิน" value="male"> ไม่สูบ &nbsp;&nbsp;
            <br />

            <label for="uname">อยู่หอสัปดาห์ละกี่วัน : </label>&nbsp;
            <input type="radio" name="วิน" value="male"> 0 - 3 วัน &nbsp;&nbsp;
            <input type="radio" name="วิน" value="male"> 4 - 5 วัน &nbsp;&nbsp;
            <input type="radio" name="วิน" value="male"> 6 - 7 วัน &nbsp;&nbsp;
            <br />

            <label for="uname">เปิดไฟนอน : </label>&nbsp;
            <input type="radio" name="วิน" value="male"> เปิด &nbsp;&nbsp;
            <input type="radio" name="วิน" value="male"> ไม่เปิด &nbsp;&nbsp;
            <br />

            <label for="uname">กลับหอประมาณช่วงเวลาใด : </label>&nbsp;
            <input type="radio" name="วิน" value="male"> ก่อน 20.00 น. &nbsp;&nbsp;
            <input type="radio" name="วิน" value="male"> หลัง 20.00 น.&nbsp;&nbsp;
            <br />

            <label for="uname">เลี้ยงสัตว์ : </label>&nbsp;
            <input type="radio" name="วิน" value="male"> เลี้ยง &nbsp;&nbsp;
            <input type="radio" name="วิน" value="male"> ไม่เลี้ยง&nbsp;&nbsp;
            <br />

            <label for="uname">ทำอาหาร : </label>&nbsp;
            <input type="radio" name="วิน" value="male"> ทำ &nbsp;&nbsp;
            <input type="radio" name="วิน" value="male"> ไม่ทำ&nbsp;&nbsp;
            <br />

        </form>
    </left>


    <left>
        <h1>ข้อมูลรายละเอียดหอพักที่ผู้ใช้ต้องการ</h1>
        <br />

        <form action="">
            <label for="uname"><b>ระยะจากประตูเชียงราก1</b></label>
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="uname">วินมอเตอร์ไซค์: </label>&nbsp;
            <input type="radio" name="วิน" value="male"> 0-5 นาที &nbsp;&nbsp;
            <input type="radio" name="วิน" value="male"> 10-20 นาที &nbsp;&nbsp;
            <input type="radio" name="วิน" value="male"> 20 นาทีขึ้นไป &nbsp;&nbsp;
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="uname">เดิน: </label>&nbsp;
            <input type="radio" name="เดิน" value="male"> 0-5 นาที &nbsp;&nbsp;
            <input type="radio" name="เดิน" value="male"> 10-20 นาที &nbsp;&nbsp;
            <input type="radio" name="เดิน" value="male"> 20 นาทีขึ้นไป &nbsp;&nbsp;

            <br />

            <label for="uname"><b>ระยะจากประตูเชียงราก2</b></label>
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="uname">วินมอเตอร์ไซค์: </label>&nbsp;
            <input type="radio" name="วิน" value="male"> 0-5 นาที &nbsp;&nbsp;
            <input type="radio" name="วิน" value="male"> 10-20 นาที &nbsp;&nbsp;
            <input type="radio" name="วิน" value="male"> 20 นาทีขึ้นไป &nbsp;&nbsp;
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="uname">เดิน: </label>&nbsp;
            <input type="radio" name="เดิน" value="male"> 0-5 นาที &nbsp;&nbsp;
            <input type="radio" name="เดิน" value="male"> 10-20 นาที &nbsp;&nbsp;
            <input type="radio" name="เดิน" value="male"> 20 นาทีขึ้นไป &nbsp;&nbsp;

            <br />

            <label for="uname">ราคาห้อง : </label>&nbsp;
            <input type="radio" name="เดิน" value="male"> 0 - 3000 บาท &nbsp;&nbsp;
            <input type="radio" name="เดิน" value="male"> 3000 - 6000 บาท &nbsp;&nbsp;
            <input type="radio" name="เดิน" value="male"> 6000 - 9000 บาท &nbsp;&nbsp;
            <input type="radio" name="เดิน" value="male"> 9000 บาทขึ้นไป &nbsp;&nbsp;

            <br />

            <label for="uname">ห้องสามารถอยู่ได้ (จำนวนคน) : </label>&nbsp;
            <input type="radio" name="เดิน" value="male"> 1 คน &nbsp;&nbsp;
            <input type="radio" name="เดิน" value="male"> 2 คน &nbsp;&nbsp;
            <input type="radio" name="เดิน" value="male"> 3 คน &nbsp;&nbsp;

            <br />

            <label for="uname">หอพักของ : </label>&nbsp;
            <input type="radio" name="เดิน" value="male"> ชาย &nbsp;&nbsp;
            <input type="radio" name="เดิน" value="male"> หญิง &nbsp;&nbsp;
            <input type="radio" name="เดิน" value="male"> รวม &nbsp;&nbsp;

            <br />

            @using (Html.BeginForm("ShowMatchRoommate", "JoinRoommate", FormMethod.Post))
            {

                <button name="btnSignIn" type="search"> ค้นหา </button>
                <button name="btnClear" type="reset"> ยกเลิก </button>

            }
        </form>
    </left>
        
    