@{
    ViewData["Title"] = "DetailRoom";
}


<h1>Interpark</h1>

<center>
    <img src="~/images/interpark.jpg" alt="searchDormitory" width="500" height="300">
    <br />
    <img src="~/images/01.jpg" alt="searchDormitory" width="150" height="100">
    <img src="~/images/02.jpg" alt="searchDormitory" width="150" height="100">
    <img src="~/images/11 (1).jpg" alt="searchDormitory" width="150" height="100">
    <img src="~/images/11.jpg" alt="searchDormitory" width="150" height="100">
</center>
<hr />
ที่อยู่ &nbsp;&nbsp; ทางคู่ขนานถนนธรรมศาสตร์ ตำบลคลองหนึ่ง อำเภอคอลงหลวง ปทุมธานี 12120
<br />
แผนที่ &nbsp;&nbsp;
<img src="~/images/map-new.png" alt="searchDormitory" width="300" height="150">
<br />
โทรศัพท์ &nbsp;&nbsp; 02-901-9300
<br />
email &nbsp;&nbsp; interpark@gmail.com
<br />
รายเดือน &nbsp;&nbsp; 6,000 บาท/เดือน
<br />
ค่าประกัน &nbsp;&nbsp; 15,000 บาท/ห้อง
<br />
ค่าน้ำ &nbsp;&nbsp; ขั้นต่ำ 6 ยูนิต ยูนิตละ 35 บาท
<br />
ค่าไฟ &nbsp;&nbsp; ยูนิตละ 6 บาท
<hr />
<h2>สิ่งอำนวยความสะดวก</h2>
ฟรีไวไฟ &nbsp;&nbsp;&nbsp;&nbsp; ห้องอ่านหนังสือ &nbsp;&nbsp;&nbsp;&nbsp; ห้องออกกำลังกาย
<br />
ที่จอดรถยนต์ &nbsp;&nbsp;&nbsp;&nbsp; สระว่ายน้ำ &nbsp;&nbsp;&nbsp;&nbsp; ร้านอาหาร