
@{
    ViewData["Title"] = "IndexRoom";
}


<h1>ค้นหาหอพัก</h1>

<label for="uname"><b>ระยะจากประตูเชียงราก1</b></label>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label for="uname">วินมอเตอร์ไซค์: </label>&nbsp;
<input type="radio" name="วิน" value="male"> 0-5 นาที &nbsp;&nbsp;
<input type="radio" name="วิน" value="male"> 10-20 นาที &nbsp;&nbsp;
<input type="radio" name="วิน" value="male"> 20 นาทีขึ้นไป &nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label for="uname">เดิน: </label>&nbsp;
<input type="radio" name="เดิน" value="male"> 0-5 นาที &nbsp;&nbsp;
<input type="radio" name="เดิน" value="male"> 10-20 นาที &nbsp;&nbsp;
<input type="radio" name="เดิน" value="male"> 20 นาทีขึ้นไป &nbsp;&nbsp;

<br />

<label for="uname"><b>ระยะจากประตูเชียงราก2</b></label>
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label for="uname">วินมอเตอร์ไซค์: </label>&nbsp;
<input type="radio" name="วิน" value="male"> 0-5 นาที &nbsp;&nbsp;
<input type="radio" name="วิน" value="male"> 10-20 นาที &nbsp;&nbsp;
<input type="radio" name="วิน" value="male"> 20 นาทีขึ้นไป &nbsp;&nbsp;
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label for="uname">เดิน: </label>&nbsp;
<input type="radio" name="เดิน" value="male"> 0-5 นาที &nbsp;&nbsp;
<input type="radio" name="เดิน" value="male"> 10-20 นาที &nbsp;&nbsp;
<input type="radio" name="เดิน" value="male"> 20 นาทีขึ้นไป &nbsp;&nbsp;

<br />

<label for="uname"><b>ราคาห้อง: </b></label>
<input name="email" type="text" />

<br />

<label for="uname"><b>อยู่ได้(จำนวนคน): </b></label>&nbsp;
<input type="radio" name="เดิน" value="male"> 1 คค &nbsp;&nbsp;
<input type="radio" name="เดิน" value="male"> 2 คน &nbsp;&nbsp;
<input type="radio" name="เดิน" value="male"> 3 คน &nbsp;&nbsp;

<br />

<label for="uname"><b>หอพักของ: </b></label>&nbsp;
<input type="radio" name="เดิน" value="male"> ชาย &nbsp;&nbsp;
<input type="radio" name="เดิน" value="male"> หญิง &nbsp;&nbsp;
<input type="radio" name="เดิน" value="male"> รวม &nbsp;&nbsp;

<br />

<label for="uname"><b>เลี้ยงสัตว์: </b></label>&nbsp;
<input type="radio" name="เดิน" value="male"> เลี้ยงได้ &nbsp;&nbsp;
<input type="radio" name="เดิน" value="male"> เลี้ยงไม่ได้ &nbsp;&nbsp;

<br />

<label for="uname"><b>สูบบุหรี่: </b></label>&nbsp;
<input type="radio" name="เดิน" value="male"> ได้ &nbsp;&nbsp;
<input type="radio" name="เดิน" value="male"> ไม่ได้ &nbsp;&nbsp;

<br />

<button name="btnSave" type="submit">ค้นหา</button>
<button name="btnClear" type="reset">ย้อนกลับ</button>