@{
    ViewData["Title"] = "SearchRoom";
}


<h1>ค้นหาหอพัก</h1>

<img src="~/images/interpark.jpg" alt="searchDormitory" width="250" height="150">
&nbsp;&nbsp;&nbsp;&nbsp;

<a href="@Url.Action("DetailRoom","Room")"><h6>Interpark</h6></a>
ทางคู่ขนานถนนธรรมศาสตร์ ตำบลคลองหนึ่ง อำเภอคอลงหลวง ปทุมธานี 12120
฿6,000 - 7,500 /รายเดือน

<br />

<img src="~/images/citypark.jpg" alt="searchDormitory" width="250" height="150">
&nbsp;&nbsp;&nbsp;&nbsp;

<a href="@Url.Action("DetailRoom","Room")"><h6>Citypark</h6></a>
ทางคู่ขนานถนนธรรมศาสตร์ ตำบลคลองหนึ่ง อำเภอคอลงหลวง ปทุมธานี 12120
฿6,000 - 7,500 /รายเดือน