@{
    ViewData["Title"] = "informations";
}

<h1>ข้อมูลสมาชิก</h1>
<label for="uname">ชื่อ* </label>
<input name="User" type="text" />
<br />

<label for="uname">นามสกุล* </label>
<input name="Pass" type="text" />
<br />

<label for="uname">เพศ* </label>
<input name="Pass" type="text" />
<br />

<label for="uname">คณะ* </label>
<input name="Pass" type="text" />
<br />

<label for="uname">ชั้นปี* </label>
<input name="Pass" type="text" />
<br />

<label for="uname">ชื่อผู้ใช้ (Username)* </label>
<input name="User" type="text" />
<br />

<label for="uname">รหัสผ่าน (Password)* </label>
<input name="Pass" type="text" />
<br />

<label for="uname">Email* </label>
<input name="Pass" type="text" />
<br />

<label for="uname">Facebook* </label>
<input name="Pass" type="text" />
<br />

<label for="uname">รูปภาพ:</label>
<input name="picture" type="text" />
<br />
<p>อัพโหลดรูปภาพ :</p>
<input type="file" id="myFile" name="filename">
<br />
<hr />
<h1>ข้อมูลสำหรับหาเพื่อนร่วมห้อง</h1>
<br />
<label for="uname">เพศ: </label>&nbsp;
<input type="radio" name="วิน" value="male"> ชาย &nbsp;&nbsp;
<input type="radio" name="วิน" value="male"> หญิง &nbsp;&nbsp;
<br />
<label for="uname"><b>ราคาห้อง: </b></label>
<input name="email" type="text" />
<br />
<label for="uname">อยู่หอสัปดาห์ละกี่วัน: </label>&nbsp;
<input type="radio" name="เดิน" value="male"> 0-3 วัน &nbsp;&nbsp;
<input type="radio" name="เดิน" value="male"> 4-5 วัน &nbsp;&nbsp;
<input type="radio" name="เดิน" value="male"> 6-7 วัน &nbsp;&nbsp;
<br />
<label for="uname"><b>กลับหอประมาณกี่โมง: </b></label>&nbsp;
<input type="radio" name="เดิน" value="male"> ก่อน 20.00 น. &nbsp;&nbsp;
<input type="radio" name="เดิน" value="male"> หลัง 20.00 น. &nbsp;&nbsp;
<br />

<label for="uname"><b>เปิดไฟนอนไหม: </b></label>&nbsp;
<input type="radio" name="เดิน" value="male"> เปิด &nbsp;&nbsp;
<input type="radio" name="เดิน" value="male"> ไม่เปิด &nbsp;&nbsp;
<br />
<label for="uname"><b>เลี้ยงสัตว์: </b></label>&nbsp;
<input type="radio" name="เดิน" value="male"> เลี้ยงได้ &nbsp;&nbsp;
<input type="radio" name="เดิน" value="male"> เลี้ยงไม่ได้ &nbsp;&nbsp;
<br />
<label for="uname"><b>ทำอาหารไหม: </b></label>&nbsp;
<input type="radio" name="เดิน" value="male"> ทำ &nbsp;&nbsp;
<input type="radio" name="เดิน" value="male"> ไม่ทำ &nbsp;&nbsp;

<br />
<button name="btnSave" type="submit">แก้ไขข้อมูล</button>