
@{
    ViewData["Title"] = "DetailJoinToMe";
}


<left>

    <h4>รายละเอียดข้อมูล</h4>
    <br />
    <img src="~/images/serdtha.png" alt="serdthaDetailjoin" width="180" height="180">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <br />
    <label for="uname"> ชื่อ - นามสกุล: เศรษฐา นาดสำโรง</label>
    <br />
    <label for="uname"> คณะ: วิศวกรรมศาสตร์ </label>
    <br />
    <h4> รายเอียดห้องพัก</h4>
    <br />
    <label for="uname"> ชื่อหอพัก: ทวินทาวน์</label>
    <br />
    <label for="uname"> ราคาห้องพัก: 3000 - 6000 บาท </label>
    <br />
    <label for="uname"> ค่าประกันหอ: 15000 บาท</label>
    <br />
    <label for="uname"> เอกสารสัญญาห้องพัก:</label>
    <br />

    <h4>ข้อมูลการติดต่อ</h4>
    <label for="uname"> email: serdtha@gmail.com</label>
    <br />
    <label for="uname"> facebook: tha serdtha</label>
    <br />

    <button name="btnSignIn" type="submit"> ยืนยัน </button>
    <button name="btnClear" type="reset"> ปฏิเสธ </button>

</left>