
@{
    ViewData["Title"] = "DetailShowDetailMeaftersave";
}

<h1>DetailShowDetailMeaftersave</h1>

<left>

    <h4>รายละเอียดข้อมูล</h4>
    <br />
    <img src="~/images/nithi.png" alt="mewCancelJoin" width="180" height="180">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <br />
    <label for="uname"> ชื่อ - นามสกุล: นิติ มหาสุข</label>
    <br />
    <label for="uname"> คณะ: วิศวกรรมศาสตร์ </label>
    <br />
    <h4> รายเอียดห้องพัก</h4>
    <br />
    <label for="uname"> ชื่อหอพัก: ซิตี้ปาร์ค</label>
    <br />
    <label for="uname"> ราคาห้องพัก: 6000 - 9000 บาท</label>
    <br />
    <label for="uname"> ค่าประกันหอ: 15000 บาท</label>
    <br />
    <label for="uname"> เอกสารสัญญาห้องพัก:</label>
    <br />



</left>



