
@{
    ViewData["Title"] = "JoinToMe";
}

<h1>JoinToMe</h1>
<br />
<br />
<img src="~/images/serdtha.png" alt="serdthaDetailjoin" width="180" height="180">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<br />
<label for="uname"> เศรษฐา นาดสำโรง </label>
<br />
<label for="uname"> หอพัก : ทวินทาวน์ </label>
<br />
<label for="uname"> ราคาห้องพัก : 3000 - 6000 บาท </label>
<br />

<a href="@Url.Action("DetailJoinToMe","Roommate")">คนที่ชักชวนคุณ</a>


