
@{
    ViewData["Title"] = "ShowDetailMeaftersave";
}

<h1>ShowDetailMeaftersave</h1>


<img src="~/images/nithi.png" alt="mewCancelJoin" width="180" height="180">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<br />
<br />
<a href="@Url.Action("DetailShowDetailMeaftersave","Roommate")">นิติ มหาสุข</a>

<br />
<label for="uname"> หอพัก : ซิตี้ปาร์ค </label>
<br />
<label for="uname"> ราคาห้องพัก : 6000 - 9000 บาท </label>
<br />

<br />
<br />
<img src="~/images/pitcha.png" alt="pitchaShow" width="180" height="180">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<br />

<a href="@Url.Action("DetailShowDetailMeaftersave","Roommate")">พิชชา รัตนธำรง</a>

<br />
<label for="uname"> หอพัก : อินเตอร์ปาร์ค </label>
<br />
<label for="uname"> ราคาห้องพัก : 3000 - 6000 บาท </label>
<br />
<br />
<br />

<img src="~/images/serdtha.png" alt="serdthashow" width="180" height="180">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<br />

<a href="@Url.Action("DetailShowDetailMeaftersave","Roommate")">เศรษฐา นาดสำโรง</a>
<label for="uname"> เศรษฐา นาดสำโรง </label>
<br />
<label for="uname"> หอพัก : ทวินทาวน์ </label>
<br />
<label for="uname"> ราคาห้องพัก : 3000 - 6000 บาท </label>
<br />
